#main-body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fd9f85 100%);
  font-family: "Castoro", serif;
  font-size: 18px;
}

.current-location {
  font-size: 50px;
}

.updated {
  font-size: 25px;
}

.grid-container {
  display: grid;
  grid-template-areas: "item1 item2 item3 item4 item5";
  padding: 20px 0;
  text-align: center;
  color: black;
}

#forecastCard {
  background-color: rgba(252, 249, 249, 0.335);
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.current-conditions {
  text-transform: capitalize;
}
